<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://altinn-token-generator.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/052982ed-1e94-4e26-bfd4-a65252931325/resourcegroups/rg-altinn-test-tools/providers/Microsoft.Web/sites/altinn-token-generator</ResourceId>
    <UserName>$altinn-token-generator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://altinn-token-generator.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>